.listPost {
    width: 75vw;
}

.lista {
    list-style: none;
    margin: 1rem 2rem;
}

li {
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
    margin-bottom: 1rem;
}

.titulo {
    text-transform: capitalize;
    font-size: 1.5rem;
}